$darkpink: #B9425E;
$salmon: #DB6560;
$orange: #E79F88;
$offwhite: #E5F4EE;
$teal: #BEDBD1;
$seafoam: #A3C6BA;

// color scheme "If Things Were Different" from colourpod.com

.jumbotron {
  text-align: center;
  background-color: $offwhite;
  color: $darkpink;
  small {
    color: $seafoam;
  }
}

a {
  color: $darkpink;
}

a:hover, a:active, a:focus {
  color:$seafoam;
}

body {
  // height: 100%;
  margin-bottom: 40px;
  background-color: $orange;
}

.navbar-default {
  background-color: $seafoam;
  border-color: $salmon;
}

.navbar {
  margin-bottom: 0px;
  position: sticky;
}

.togglebtn {
  float: right;
}

.badge {
  float: right;
  background-color: $seafoam;
  color: $darkpink;
  font-size: 130%;
}

.navbar-right {
  margin-right: 10px;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  border-color: $darkpink;
  background-color: $seafoam;
}

.btn-danger {
  background-color: $darkpink;
  border-color: $seafoam;
}

.btn-primary {
  background-color: $offwhite;
  border-color: $teal;
  color: $darkpink;
}

.btn-primary:hover, .btn-primary:focus, .btn-success:active {
  background-color: $salmon;
  border-color: $seafoam;
  color: $teal;
}

.btn-success {
  background-color: $seafoam;
  border-color: $offwhite;
  color: $darkpink;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
  background-color: $seafoam;
  border-color: $darkpink;
  color: $teal;
}

a.list-group-item {
  background-color: $salmon;
  border-color: $seafoam;
  color: $offwhite;
}

.list-group-item {
  background-color: $teal;
  border-color: $seafoam;
  color: $darkpink;
}

a.list-group-item:hover {
  background-color: $teal;
  color: $darkpink;
}

.well {
  background-color: $offwhite;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: $salmon;
  color: $offwhite;
}

.nav > li > a {
  color: $darkpink;
  font-size: 120%;
  font-weight: bolder;
}

.panel-default {
  .panel-heading, .panel-footer {
    background-color: $offwhite;
  }

}

.panel-body{
  background-color: $teal;
}

.btn-default {
  border-color: $offwhite;
  background-color: $teal;
  color: $darkpink;
}

.form-control {
  background-color: $offwhite;
  border-color: $darkpink;
}

.x-small-tag {
  font-size: 90%;
}

.small-tag {
  font-size: 120%;
}

.med-tag {
  font-size: 145%;
}

.lg-tag {
  font-size: 170%;
}
