<h2>Most Recent Questions:</h2>
<div class="row">
  <div class="col-md-6">
    {{query-list queries=model.queries}}
  </div>
  <div class="col-md-6">
    {{query-new newQuery="addQuery"}}
  </div>
</div>
