<h2>Most Recent Questions:</h2>
<div class="row">
  <div class="col-md-6">
    {{query-list queries=model.queries}}
  </div>
  <div class="col-md-6">
    <div class="well well-sm">
      {{#each model.tags as |tag|}}
      <span class="clickable">{{tag.words}}</span><br>
      {{/each}}
    </div>
    {{query-new newQuery="addQuery"}}
  </div>
</div>
