<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">{{model.plea}}</h1>
  </div>
  <div class="panel-body">
    <div class="formatted">
      {{model.details}}
    </div>
  </div>

</div>
