<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">{{model.plea}}</h1>
  </div>
  <div class="panel-body">
    <div class="formatted">
      {{bodyFormat model.details}}
    </div>
  </div>
  <div class="panel-footer">
    <p>
      Posted {{moment-from-now model.posted}} by {{model.supplicant}}
    </p>
  </div>

</div>
