<div class="row">
  <div class="col-md-7">
    {{query-tile query=model}}
  </div>
  <div class="col-md-5">
    {{query-edit query=model editQuery="editQuery" delete="delete"}}
    <hr>

  </div>
</div>
