<div class="row">
  <div class="col-md-7">
    {{query-tile query=model.query}}

    <hr>
    <div class="list-group">
      {{#each model.query.answers as |answer|}}
        {{answer-tile answer=answer class="list-group-item"}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      {{query-edit query=model.query editQuery="editQuery" delete="delete" addNewTags="addNewTags"}}

    </div>
    <hr>
    <h2>Have an Answer?</h2>
    {{answer-new query=model.query submitAnswer="addAnswer"}}

  </div>
</div>
